@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');

.divPrincipal {
  min-height: 100vh;
  background-image: url("../../../public/img4.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: white;
  font-family: "Orbitron", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: calc(650px - 2rem);
  position: relative;
  left: calc(50% - 2rem);
  max-height: 100%;
  height: calc(95vh - 2rem);
  margin-top: 3rem;
}

.divDiscricao_Login {
  display: flex;
  text-align: justify;
}

.divFormLogin {
  color: black;
}

.headerForm {
  ul {
    display: grid;
    white-space: nowrap;
    grid-template-columns: repeat(2, auto) 1fr auto;
    list-style: none;

    li {
      float: left;
      text-transform: uppercase;
      position: relative;

      div {
        margin-right: 2px;
        line-height: 1.45;
      }
    }
  }
}

.aba {
  position: relative;
  padding: 5px 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: unset;
  font-weight: bold;
  color: white;
  border: 7px solid transparent;
}

.abaAtiva {
  border-bottom: 7px solid #ccc;
}

.divTitulo {
  text-align: center;
  margin-bottom: 10px;
  h1{
    font-size: 40px;
  }
}

.divFormInterna {
  border: 1px solid #ccc;
  background-color: #ccc;
  padding: 16px;
}

.hr2 {
  margin: 25px 0px;
}

.divDiscricao {
  padding-right: 2rem;
  h2{
    font-size: 20px;
  }
  p{
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.divInput {
  margin-bottom: 0.5rem;
  input {
    padding: 8px;
    line-height: 1.3;
    font-size: 16px;
  }
}

.divBtn {
  display: flex;
  justify-content: end;
  button {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
  }
}

.btnGoogle {
  width: 100%;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: end;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

.linksFooter{
  text-decoration: none;
  color: #00E5E5;
}