.divDesafios{
    height: 100vh;
    width: 25vw;
   background-color: #1B1B32;
}

.divResultado{
    height: 100vh;
    width: 30vw;
    background-color: #1C1C1C;
}

.divPrincipal{
    overflow-y: hidden;
    height: 100vh;
}

.contexto{
    margin: 15px;
}

.contexto p{
    margin: 0%;
    font-size: 18px;
}